Scrapy==1.5.0
gevent==1.2.2
lxml==4.1.1
pymongo==3.6.0
Flask_SocketIO==2.9.3
ImageHash==4.0
WTForms==2.1
Flask==0.12.2
Flask_RESTful==0.3.6
requests==2.18.4
Pillow==5.0.0
celery==4.1.0
gevent_websocket==0.10.1
