<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
</head>
<body>
    <div id  = 'wrapper'>
        <div id="heading">
			    <h1>PARSE</h1>
        </div>
    <b>Image bot application</b>
            <ul>
                <p>Image saved to db - {{images_count}}</p>
                <form action="/parse" method="POST">
                    <div>
                        <label for="url">Write web what do you want to parce</label>
                        <input name="url" value="https://www.pexels.com/">
                    </div>
                    <div>
                        <label for="quantity">how many images to Insert?</label>
                        <input name="quantity" type="text" value="1">
                    </div>
                    <input type="submit" value="Parse images">
                </form>
                <a href="download/image">Download images as xml</a>
            </ul>
    </div>
</body>
</html>