<html>
    <head>
        <title>Image bot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
    </head>
    <body>
        <div id  = 'wrapper'>
            <header>
                <a href="/"><img src="static/images/logo.png" alt="logo" class="logo" ></a>
            </header>
            <nav>
                <ul class="top-menu">
                    <li><a href="/about">ABOUT US</a></li>
                    <li class="active">HOME</li>
                    <li><a href="/parse">PARSE</a></li>

                </ul>
            </nav>
            <div id="heading">
			    <h1>HOME</h1>
            </div>

        </div>>
    </body>
</html>